asgiref
certifi
chardet
cycler
Django
django-filter
django-rest-auth
djangorestframework
gunicorn
joblib
kiwisolver
mergedeep
Pillow
psycopg2==2.7.7
pyparsing
python-dateutil
pytz
requests
six
sqlparse
threadpoolctl
urllib3
