{% load static %}
		
		<!-- Navigation -->
							<div id="navBar" class="collapse navbar-collapse">
								<ul class="navbar-nav align-items-lg-center g-py-30 g-py-0--lg ml-auto">
									<!-- Pages - Mega Menu -->
									<li class="nav-item hs-has-mega-menu"
											data-animation-in="fadeIn"
											data-animation-out="fadeOut"
											data-position="left">
										<!-- <a id="mega-menu-label-1" class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="#!"
											 aria-haspopup="true"
											 aria-expanded="false">
											National SACCO Boards
											<i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
										</a>  -->

										 <!-- Mega Menu -->
										<div class="w-100 hs-mega-menu u-shadow-v39 g-brd-around g-brd-7 g-brd-white g-bg-secondary g-text-transform-none g-pa-30 g-pa-50--lg g-my-20 g-my-0--lg" aria-labelledby="mega-menu-label-1">
											<span class="d-block h1 g-brd-bottom g-brd-2 g-brd-main pb-2 mb-5">SACCOs IN AFRICA</span>

											<div class="row">
												<div class="col-sm-6 col-lg-3">
													<!-- Links -->
													<ul class="list-unstyled g-pr-30 mb-0">
														<li class="py-2">

															<a class="d-flex g-color-main g-color-primary--hover g-text-underline--none--hover g-py-5" href="{% url 'web:courses' %}">
															 <img class="img-fluid g-hidden-lg-down g-width-20" src="{% static 'app_assets/img/logo/bost.png' %}" alt="Logo">
                <img class="img-fluid g-width-20 g-hidden-md-down g-hidden-xl-up" src="{% static 'app_assets/img/logo/logo-mini.png' %}" alt="Logo">
                <img  class="img-fluid g-hidden-lg-up" src="{% static 'app_assets/img/logo/bost.png' %}" alt="Logo">
            	 <span style="margin-left:3%;">NASACCOS</span>
																<i class="g-color-primary g-font-size-15 g-pos-rel g-top-5 ml-auto material-icons">arrow_forward</i>
															</a>
														</li>
			
													</ul>
													<!-- End Links -->
												</div>
											</div>
										</div>
										<!-- End Mega Menu -->
									</li>
									<!-- End Pages - Mega Menu -->
									<li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="{% url 'web:home' %}">
											Home
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="{% url 'web:communites' %}">
											About Us
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="{% url 'web:future_members' %}">
											Join us
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="{% url 'web:current_members' %}">
											Our Members
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="{% url 'web:our_staff' %}">
											Board Members
										</a>
									</li>
									<!-- <li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg" href="{% url 'web:events' %}">
											SACCOs Events
										</a>
									</li> -->
									<!-- <li class="nav-item">
										<a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-pl-15--lg g-pr-0--lg g-py-10 g-py-30--lg" href="{% url 'web:alumni' %}">
											Alumni
										</a>
									</li> -->
								</ul>
							</div>
							<!-- End Navigation -->
						</nav>
						<!-- End Nav -->