{% load static %}
            <!-- Promo Block -->
            <div class="container g-pt-20">
              <div class="u-shadow-v34 g-brd-around g-brd-12 g-brd-white rounded g-pos-rel g-z-index-1">
                <div class="g-min-height-90vh g-flex-centered g-bg-img-hero rounded" style="margin-top: 10px; background-image: url({% static 'app_assets/img-temp/DSC_0353.JPG' %});">
                  <div class="w-100 g-pos-abs g-bottom-0 g-left-0 g-z-index-1">
                    <div class="g-bg-white g-pos-rel g-px-30 g-pt-30 g-pt-0--md g-pb-15">
                      <h1><a class="h1 u-link-v5 g-color-main g-color-primary--hover g-font-size-45--md" href="#">GOVERNANCE AND REGULATIONS</a></h1>
                      <p></p>
      
                      <!-- SVG Top Background Shape -->
                      <svg class="w-100 g-hidden-sm-down g-pos-abs g-top-minus-80x g-left-0 g-z-index-minus-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 1200 237" enable-background="new 0 0 1200 237" xml:space="preserve">
                        <polygon fill="#F1F6FA" points="0,45.2 0,132.9 443.4,67.5 "/>
                        <polygon fill="#FFFFFF" points="0,105 0,237 1200,237 1200,105 1200,0 "/>
                      </svg>
                      <!-- End SVG Top Background Shape -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Promo Block -->
      
      
            <!-- Call to Action -->
            <div class="u-shadow-v35 g-bg-img-hero" style="background-image: url({% static 'app_assets/include/svg/svg-bg1.svg' %});">
              <div class="container g-pt-100 g-py-70">
                <div class="row align-items-md-center">
                  <div class="col-md-3 g-mb-30">
                    <h2 class="mb-0">BOSCCA Board</h2>
                  </div>
      
                  <div class="col-md-6 g-mb-30">
                    <p class="g-font-size-17 mb-0">{{board_statemt}}</p>
                  </div>
      
                  <div class="col-md-3 g-mb-30">
                    <div class="text-right">
                      <a class="btn u-shadow-v39 g-brd-main g-brd-primary--hover g-color-main g-color-white--hover g-bg-primary--hover g-font-size-default g-rounded-30 g-px-35 g-py-10" href="#">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Call to Action -->
      
            {% for post in stafflist %}

      
            <!-- SACCO Competency Model -->
            <div class="container g-pb-100"> 
              <div class="row justify-content-lg-between align-items-center">
                <div class="col-md-6 order-md-2">
              {% if post.profile.profile.profile_pic %}

                  <img class="img-fluid" src="{{post.profile.profile.profile_pic.url}}" alt="Image Description">
            {% endif %}
                
                </div>
      
                <div class="col-md-5 order-md-1 g-mb-50 g-mb-0--md">
                  <div class="mb-5">
                    <span class="d-block g-color-white g-font-size-20--md mb-2">
                      <span class="g-brd-bottom--dashed g-brd-2 g-brd-primary g-color-primary g-font-weight-700 g-pb-2">
                        {{post.department} - 
                      </span>
                      </span>
                      <span class="d-block g-color-blue g-font-secondary g-font-size-25 g-font-size-45--md g-line-height-1_4">
                        {{post.profile.profile.user.first_name}}
                        {{post.profile.profile.user.last_name}} 
                      </span>
                    <p>
                        {{post.department}
                    
                    </p>
                  </div>
                        {{post.profile.profile.user.last_name}} 
                  <a class="btn u-shadow-v39 g-brd-main g-brd-primary--hover g-color-main g-color-white--hover g-bg-primary--hover g-font-size-default g-rounded-30 g-px-35 g-py-11"  
                  href="{{post.profile.profile.facebook_url}}">Learn More</a>
                </div>
              </div>
            </div>
      {% endfor %}
            {% include 'web/pages/communites/cal_action.html' %}
