{% extends 'web/dashboards/manager/base/base.html' %}
{% block content %}
		<!-- FORM VALIDATION -->
		<div class="row mt">
			<ul class="nav pull-right top-menu">
				<li><a class="logout" href="{% url 'users:view_executives' %}">View Executives</a></li>
			  </ul>
			<div class="col-lg-12">
			  <h4>Assign Role to Member</h4>
			  <div class="form-panel">
				<div class=" form">
					{% include 'web/dashboards/manager/base/_alerts.html' %}

				  <form class="cmxform form-horizontal style-form" id="commentForm" method="POST" action="{% url 'users:assign_member' %}">
					{% csrf_token %}
					<div class="form-group ">
						<label for="phone" class="control-label col-lg-2">Course Name (required)</label>
						<div class="col-lg-10">
						  <input class=" form-control" id="course_name" name="course_name" minlength="2" type="text" required />
						</div>
					  </div>
					<div class="form-group ">
						<label for="lead_tutor" class="control-label col-lg-2">Select Role(required)</label>
						<div class="col-lg-8">

							<select name="lead_tutor"  class="form-control">
								{% for lead_tutor in lead_tutors %}
								<option value="{{lead_tutor.id}}" >{{lead_tutor.id}}, {{lead_tutor.name }}</option>
								{% endfor %}
							  </select>	
						</div>
						<div class="col-lg-2">
							<a href="{% url 'users:add_tutor' %}">
								<i class="fa fa-plus"></i> add tutor
							</a>

						  </div>
					  </div>

					  <div class="form-group ">
						<label for="course_length" class="control-label col-lg-2">Course Length (required)</label>
						<div class="col-lg-10">
						  <input class=" form-control" id="course_length" name="course_length" minlength="2" type="text" required />
						</div>
					  </div>


					<div class="form-group">
					  <div class="col-lg-offset-2 col-lg-10">
						<button class="btn btn-theme" type="submit">Save</button>
						<button class="btn btn-theme04" type="button">Cancel</button>
					  </div>
					</div>
				  </form>
				</div>
			  </div>
			  <!-- /form-panel -->
			</div>
			<!-- /col-lg-12 -->
		  </div>
		  <!-- /row -->


		  {% endblock %}