{% load static %}
     
      <!-- Promo Block -->
      <div class="g-flex-centered g-bg-img-hero g-bg-pos-top-center g-bg-cover g-bg-bluegray-opacity-0_2--after" style="background-image: url({% static 'app_assets/img/bg/botswana-people-36152.jpeg' %});" data-calc-target="#js-header">
        <div class="container g-pos-rel g-z-index-1 g-py-100">
          <div class="u-shadow-v36 g-max-width-550 g-bg-main-light-v1 g-pa-50">
            <div class="g-mb-40">
              <h1 class="g-color-white g-font-size-40--md mb-3">Embrace wealth building life</h1>
              <p class="g-color-white-opacity-0_8 g-font-size-18--md">We are Botswana's most extraordinary environment for discovery and innovation that helps you to develop your community's economic status.</p>
            </div>
            <a class="btn u-shadow-v32 g-brd-2 g-brd-white-opacity-0_6 g-color-white-opacity-0_8 g-color-primary--hover g-bg-white--hover g-rounded-30 g-px-35 g-py-10" href="#">See What's Happening</a>
          </div>
        </div>
      </div>
      <!-- End Promo Block -->



      <!-- Overview -->
      <div id="overview" class="container g-pt-100 g-pb-70">
        <div class="g-max-width-700 text-center mx-auto">
          <!-- Heading -->
          <div class="g-mb-70">
            <h2 class="h1 mb-3">Discover why our members excel</h2>
            <p>Botswana Savings and Credit Cooperative Association (BOSCCA) was registered on the 27 th
              November 1998, with the main objective of disseminating information pertaining to Savings
              and Credit Cooperative Societies (SACCOS), and providing sound operational methods and
              practices relevant to all concepts of present and future SACCOS.</p>
          </div>
          <!-- End Heading -->

          <!-- Youtube Iframe -->
          <div class="embed-responsive embed-responsive-16by9 u-shadow-v36 g-brd-around g-brd-10 g-brd-white g-rounded-5 g-mb-80">
            <iframe src="https://www.youtube.com/embed/FxiskmF16gU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <!-- End Youtube Iframe -->
        </div>

      <!-- members Life -->
      <div id="members-life" class="g-bg-img-hero" style="background-image: url({% static 'app_assets/include/svg/svg-bg3.svg);">
        <div class="container g-pt-100 g-pb-70">
          <div class="row justify-content-lg-center g-pb-80">
            <div class="col-lg-1 g-mb-20 g-mb-0--lg">
              <span class="u-icon-v1 u-icon-size--xl g-color-main g-bg-secondary rounded-circle">
                <i class="g-font-size-45 material-icons">supervisor_account</i>
              </span>
            </div>

            <div class="col-lg-9">
              <div class="g-pl-15--lg">
                <h3>BOSCCA Objectives</h3>
                <p>The Association was also to stand as a legitimate apex organisation, representing SACCOS
                  at national and international forums, as a collective national and international voice for the
                  SACCOS movement in Botswana. <a class="u-link-v5 g-color-primary g-color-main--hover g-font-weight-500" href="#">Learn more <i class="g-font-size-13 g-pos-rel g-top-2 material-icons">arrow_forward</i></a></p>

              </div>
            </div>
          </div>
          <!-- Icon Blocks -->
          <div style="margin-top:-60px;" class="row">
            <div class="col-lg-4 g-mb-30">
        
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
           
                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about study <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To identify, promote, organize and develop SACCOs in Botswana;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
 
            </div>
          </div>
          <!-- End Icon Blocks -->
          <div class="row">
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">

                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about study <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To improve access to financial services to the vast majority of Batswana who lack
                    access to affordable and readily available financial services;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
               
                <div class="media-body">
                  <p class="mb-0">To revive all dormant communal/institutional savings and credit societies and
                    encourage the potential and viable ones to further develop and attain self-
                    sufficiency;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
               
                <div class="media-body">
                  <p class="mb-0">To disseminate information pertaining to SACCOs and provide sound operational
                    methods and practices relevant to all concepts of present and future SACCOs;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
          </div>
          <!-- Icon Blocks -->
          <div class="row">
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
                
                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about study <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To protect members funds and life against any possible loss. To establish a central
                    finance fund whereby SACCOs will pool their resources together to create a source
                    of lending to Societies;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
           
                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about study <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To build and maintain a financially sound network of Savings and Credit Co-
                    operatives to mobilize and effectively channel savings to help meet the social and
                    economic development needs of its members and the community in general;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
               
                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Housing options <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To foster the vitality of SACCOs to become effective financial intermediaries by
                    providing programmes and services that will enhance the SACCOs ability to
                    successfully meet the needs and expectations of their members;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
          </div>
          <!-- End Icon Blocks -->
          <div class="row">
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">

                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about study <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To improve access to financial services to the vast majority of Batswana who lack
                    access to affordable and readily available financial services;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
               
                <div class="media-body">
                  <p class="mb-0">To revive all dormant communal/institutional savings and credit societies and
                    encourage the potential and viable ones to further develop and attain self-
                    sufficiency;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
               
                <div class="media-body">
                  <p class="mb-0">To disseminate information pertaining to SACCOs and provide sound operational
                    methods and practices relevant to all concepts of present and future SACCOs;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
          </div>
          <!-- End Icon Blocks -->
          <div class="row">
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
            
                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about st/udy <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To represent SACCOs at national and international forums;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">

                <div class="media-body">
                  <!-- <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">Uni isn't just about study <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3> -->
                  <p class="mb-0">To undertake income generating projects for self-sufficiency;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-lg-4 g-mb-30">
              <!-- Media -->
              <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
                
                <div class="media-body">
                  <p class="mb-0">To establish risk management programmes;</p>
                </div>
                <a class="u-link-v2 g-z-index-2" href="#"></a>
              </div>
              <!-- End Media -->
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
      <!-- End members Life -->

      <!-- Community Info -->
      <div id="Community-info" class="container g-pt-100">
        <div class="row align-items-center">
          <div class="col-sm-4 col-lg-2 g-mb-50">
            <!-- Icon Block -->
            <a class="d-block u-block-hover u-shadow-v39 g-brd-around g-brd-teal g-bg-teal--hover text-center rounded g-text-underline--none--hover g-transition-0_2 g-px-30 g-py-80" href="#">
              <span class="u-icon-v1 u-icon-size--lg g-color-teal g-color-white--hover g-transition-0_2">
                <i class="icon-real-estate-027 u-line-icon-pro"></i>
              </span>
              <span class="h5 d-block g-color-teal g-color-white--hover g-transition-0_2">Finding your<br>way</span>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-sm-4 col-lg-2 g-mb-50">
            <!-- Icon Block -->
            <a class="d-block u-block-hover u-shadow-v39 g-brd-around g-brd-blue g-bg-blue--hover text-center rounded g-text-underline--none--hover g-transition-0_2 g-px-30 g-py-80" href="#">
              <span class="u-icon-v1 u-icon-size--lg g-color-blue g-color-white--hover g-transition-0_2">
                <i class="icon-real-estate-066 u-line-icon-pro"></i>
              </span>
              <span class="h5 d-block g-color-blue g-color-white--hover g-transition-0_2">Community accessibility</span>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-sm-4 col-lg-2 g-mb-50">
            <!-- Icon Block -->
            <a class="d-block u-block-hover u-shadow-v39 g-brd-around g-brd-purple g-bg-purple--hover text-center rounded g-text-underline--none--hover g-transition-0_2 g-px-30 g-py-80" href="#">
              <span class="u-icon-v1 u-icon-size--lg g-color-purple g-color-white--hover g-transition-0_2">
                <i class="icon-real-estate-015 u-line-icon-pro"></i>
              </span>
              <span class="h5 d-block g-color-purple g-color-white--hover g-transition-0_2">Housing information</span>
            </a>
            <!-- End Icon Block -->
          </div>

          <div class="col-lg-6 g-mb-50">
            <div class="g-pl-50--lg">
              <div class="mb-5">
                <h2 class="mb-3">BOSCCA's Mission</h2>
                <p>To provide our members with the highest quality service and continually consult with them
                  in order to provide quality products and services that focus on their needs.
                  One of the future plans of the society is to be able to have its own office and a permanent
                  staff members.</p>
              </div>
              <!-- <a class="btn u-shadow-v39 g-brd-main g-brd-primary--hover g-color-main g-color-white--hover g-bg-primary--hover g-font-size-default g-rounded-30 g-px-35 g-py-11" href="#">View All</a> -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Community Info -->
      {% include 'web/pages/communites/cal_action.html' %}


