{% load static %}


<!-- Learn First Steps -->
      <div class="container g-pt-100 g-pb-50">
        {% if  home_mission %}
                <!-- Heading -->
                <div class="g-max-width-645 text-center mx-auto">
                  <h2 class="h1 mb-3">Our Mission</h2>
                  {% for home_mission in home_mission %}
                  <p>
                    {{ home_mission.mission }}
                  </p>
                  {% endfor %}
                </div>
                <!-- End Heading -->
{% else %}
        <!-- Heading -->

        <div class="g-max-width-645 text-center mx-auto">
          <h2 class="h1 mb-3">Our Mission</h2>
          <p>To provide our members with the highest quality service and continually consult with them
            in order to provide quality products and services that focus on their needs.</p>
        </div>
        <!-- End Heading -->
{% endif %}
        <hr class="g-brd-secondary-light-v1 g-my-50">
        {% if  home_objectives %}
        <div class="row">
          <div class="col-lg-5 order-lg-2 g-mb-50">
            <!-- List of Links -->
            <ul class="list-unstyled g-pl-15--lg mb-0">
              <!-- Links -->
              {% for k, v in home_objective.items %}
              <li>
                <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                  <div class="d-flex mr-4">
                    <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-blue g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                      <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <h3 class="h5 g-color-blue g-color-main--hover g-font-primary mb-1">For our members</h3>
                    <p class="g-font-size-16 mb-0">

{{v}}
                    </p>
                  </div>
                  <a class="u-link-v2" href="{% url 'web:future_members' %}"></a>
                </div>
              </li>
              <!-- End Links -->
              {% endfor %}
            </ul>
            <!-- End List of Links -->
          </div>

          <div class="col-lg-7 order-lg-1 g-pt-10 g-mb-60">
            <!-- Youtube Iframe -->
            <div class="embed-responsive embed-responsive-16by9 u-shadow-v36 g-brd-around g-brd-7 g-brd-white g-rounded-5 mb-4">
              <iframe src="{{ home_objective.video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- End Youtube Iframe -->

            <h4 class="h3 mb-0">{{ home_objective.video_title }}</h4>
            <a class="g-pl-30" href="#">&#8212; {{ home_objective.video_subtitle }}</a>
          </div>
        </div>

        {% else %}

        <div class="row">
          <div class="col-lg-5 order-lg-2 g-mb-50">
            <!-- List of Links -->
            <ul class="list-unstyled g-pl-15--lg mb-0">
              <!-- Links -->
              <li>
                <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                  <div class="d-flex mr-4">
                    <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-blue g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                      <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <h3 class="h5 g-color-blue g-color-main--hover g-font-primary mb-1">For our members</h3>
                    <p class="g-font-size-16 mb-0">To identify, promote, organize and develop SACCOs in Botswana.</p>
                  </div>
                  <a class="u-link-v2" href="{% url 'web:future_members' %}"></a>
                </div>
              </li>
              <!-- End Links -->

              <!-- Links -->
              <li>
                <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                  <div class="d-flex mr-4">
                    <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-purple g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                      <i class="icon-education-103 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <!-- <h3 class="h5 g-color-purple g-color-main--hover g-font-primary mb-1">Academic Programs</h3> -->
                    <p class="g-font-size-16 mb-0">To build and maintain a financially sound network of Savings and Credit Co-
                      operatives to mobilize and effectively channel savings to help meet the social and
                      economic development needs of its members and the community in general;</p>
                  </div>
                  <a class="u-link-v2" href="{% url 'web:courses' %}"></a>
                </div>
              </li>
              <!-- End Links -->

              <!-- Links -->
              <li>
                <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                  <div class="d-flex mr-4">
                    <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-teal g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                      <i class="icon-education-124 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <!-- <h3 class="h5 g-color-teal g-color-main--hover g-font-primary mb-1">Key Dates</h3> -->
                    <p class="g-font-size-16 mb-0">To foster the vitality of SACCOs to become effective financial intermediaries by
                      providing programmes and services that will enhance the SACCOs ability to
                      successfully meet the needs and expectations of their members;</p>
                  </div>
                  <a class="u-link-v2" href="{% url 'web:events' %}"></a>
                </div>
              </li>
              <!-- End Links -->

              <!-- Links -->
              <li>
                <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                  <div class="d-flex mr-4">
                    <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-brown g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                      <i class="icon-education-127 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <!-- <h3 class="h5 g-color-brown g-color-main--hover g-font-primary mb-1">Community Tours</h3> -->
                    <p class="g-font-size-16 mb-0">To work with other stakeholders in national domestic savings mobilization
                      initiatives in order to bring about sustainable economic development in the
                      country;</p>
                  </div>
                  <a class="u-link-v2" href="{% url 'web:communites' %}"></a>
                </div>
              </li>
              <!-- End Links -->
            </ul>
            <!-- End List of Links -->
          </div>

          <div class="col-lg-7 order-lg-1 g-pt-10 g-mb-60">
            <!-- Youtube Iframe -->
            <div class="embed-responsive embed-responsive-16by9 u-shadow-v36 g-brd-around g-brd-7 g-brd-white g-rounded-5 mb-4">
              <iframe src="https://www.youtube.com/embed/FxiskmF16gU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- End Youtube Iframe -->

            <h4 class="h3 mb-0">Explore BOSCCA in minutes</h4>
            <a class="g-pl-30" href="#">&#8212; Learn the benefits to be part of this national family</a>
          </div>
        </div>
{% endif %}

      </div>
      <!-- End Learn First Steps -->