{% load static %}
     

      <!-- Research Article -->
      <div class="g-bg-img-hero" style="background-image: url({% static 'app_assets/include/svg/svg-bg1.svg' %});">
        <div class="container g-py-100">
          {% for most_recent in  most_recent %}
          <div class="row justify-content-lg-between align-items-center">
            <div class="col-md-6 g-mb-50 g-mb-0--md">
              {% if most_recent.main_image %}
              <img class="img-fluid u-shadow-v39 g-brd-around g-brd-10 g-brd-white rounded" src="{{ most_recent.main_image.url }}" alt="Article Image">
           {% endif %}
            </div>

            <div class="col-md-5">
              <div class="mb-4">
                <h1 class="mb-3">
                  {{ most_recent.head_line }}
                  
                </h1>
                <p>
                  {{ most_recent.intro }}

                </p>
              </div>
              <a class="btn u-shadow-v39 g-color-white g-bg-main g-bg-primary--hover g-font-size-default g-rounded-30 g-px-35 g-py-11" href="{% url 'web:research_detail' pk=most_recent.id  %}">Read More</a>
            </div>
          </div>
          {% for most_recent in  most_recent %}
          {% endfor %}
        </div>
      </div>
      <!-- End Research Article -->

      <!-- Research Articles -->
      <div class="container g-pt-100 g-pb-20">
        <div class="row">
          <div class="col-lg-9 g-mb-50">
            <div class="d-flex justify-content-lg-between align-items-lg-center g-mb-30">
              <h2>Publications</h2>
              <a class="u-link-v5 g-color-primary g-color-main--hover" href="#">See all Publications <i class="g-font-size-13 g-pos-rel g-top-3 material-icons">arrow_forward</i></a>
            </div>
            {% for post in article_list %}
            <div class="row">
              <div class="col-6 col-md-4 g-mb-40">
                <!-- Research Article -->
                <article>
                  {% if post.main_image %}
                  <img class="img-fluid g-mb-20" src="{{post.main_image.url}}" alt="Image Description">
                  {% endif %}
                  <h3 class="h4 mb-3"><a class="h4 u-link-v5" href="#">
                    {{post.head_line }}
                  </a></h3>
                  <p class="g-color-text-light-v1 g-font-size-15">
                {{post.intro }}
                    
                  
                  </p>
                  <a class="g-font-size-default" href="{% url 'web:research_detail' pk=post.id  %}">Read More <i class="g-font-size-13 g-pos-rel g-top-3 material-icons">arrow_forward</i></a>
                </article>
                <!-- End Research Article -->
              </div>       
            </div>
            {% endfor %}
          </div>

          <div class="col-lg-3 g-mb-50">
            <!-- Search Researcher -->
            <div class="u-shadow-v32 g-bg-secondary g-pa-30 g-mb-30">
              <h3>Find a Researcher</h3>
              <p>Search by name, area of expertise or faculty</p>
              <input class="form-control h-100 g-brd-main g-brd-primary--focus g-bg-transparent rounded g-px-20 g-py-12 mb-3" type="text" placeholder="Enter keywords">
              <a class="btn u-shadow-v39 g-color-white g-bg-primary g-bg-main--hover g-font-size-default rounded g-px-35 g-py-9" href="#">Search</a>
            </div>
            <!-- End Search Researcher -->

            <!-- Facts List -->
            <div class="u-shadow-v36 g-bg-main-light-v2 g-pa-30">
              <ul class="list-unstyled mb-0">
                <li class="g-brd-bottom g-brd-white-opacity-0_1 g-pb-20">
                  <h3 class="g-color-white g-font-primary mb-0">Our research facts and figures</h3>
                </li>
                <li class="g-brd-bottom g-brd-white-opacity-0_1 g-py-20">
                  <h3 class="g-color-white g-font-primary mb-0">Top 25</h3>
                  <p class="g-color-white-opacity-0_8 g-font-size-default mb-0">One of the world's top research universities</p>
                </li>
                <li class="g-brd-bottom g-brd-white-opacity-0_1 g-py-20">
                  <h3 class="g-color-white g-font-primary mb-0">100%</h3>
                  <p class="g-color-white-opacity-0_8 g-font-size-default mb-0">of our research is ranked at world standard or above</p>
                </li>
                <li class="g-brd-bottom g-brd-white-opacity-0_1 g-py-20">
                  <h3 class="g-color-white g-font-primary mb-0">70+</h3>
                  <p class="g-color-white-opacity-0_8 g-font-size-default mb-0">research centres</p>
                </li>
                <li class="g-pt-20">
                  <h3 class="g-color-white g-font-primary mb-0">Tripling</h3>
                  <p class="g-color-white-opacity-0_8 g-font-size-default mb-0">our investment in research</p>
                </li>
              </ul>
            </div>
            <!-- End Facts List -->
          </div>
        </div>
      </div>
      <!-- End Research Articles -->

      <!-- Research Articles -->
      <div class="g-bg-main-light-v2">
        <div class="container g-pt-100 g-pb-80">
          <!-- Heading -->
          <div class="g-max-width-645 text-center mx-auto g-mb-60">
            <h2 class="h1 g-color-white mb-3">Research Articles</h2>
            <p class="g-color-white-opacity-0_8">Our strategy is simple: to create a place where the best researchers and most promising students can achieve their full potential.</p>
          </div>
          <!-- End Heading -->

          <div class="card-group d-block d-md-flex g-mx-minus-15">
            {% for post in article_list %}
            <div class="card u-shadow-v36 g-brd-none g-mx-15 g-mb-30">
              <!-- Research Article -->
              <article>
                <div class="g-pos-rel">
                  {% if post.main_image %}

                  <img class="img-fluid" src="{{ post.main_image.url }}" alt="Image Description">
                 {% endif %}
                  <a class="js-fancybox g-absolute-centered" href="javascript:;"
                     data-src="//www.youtube.com/watch?v=FxiskmF16gU"
                     data-speed="350"
                     data-caption="Video">
                    <span class="u-icon-v3 u-icon-size--lg u-block-hover--scale g-color-main g-color-white--hover g-bg-white-opacity-0_5 g-bg-white-opacity-0_3--hover g-font-size-25 rounded-circle">
                      <i class="g-pos-rel g-left-2 fa fa-play"></i>
                    </span>
                  </a>
                </div>
                <div class="card-body g-bg-white text-center g-pa-20">
                  <h3 class="h4 mb-0">
                    {{post.head_line }}

                  </h3>
                </div>
              </article>
              <!-- End Research Article -->
            </div>
            {% endfor %}
        </div>
      </div>
      <!-- End Research Articles -->


