{% load static %}

<!-- Learn First Steps -->
      <div class="container g-pt-100 g-pb-50">
        <!-- Heading -->
        <div class="g-max-width-645 text-center mx-auto">
          <h2 class="h1 mb-3">Our Mission</h2>
          {% for home_mission in home_mission %}
          <p>
            {{ home_mission.mission }}
          </p>
          {% endfor %}
        </div>
        <!-- End Heading -->

        <hr class="g-brd-secondary-light-v1 g-my-50">
        {% for home_objective in home_objectives %}

        <div class="row">
          <div class="col-lg-5 order-lg-2 g-mb-50">
            <!-- List of Links -->
            <ul class="list-unstyled g-pl-15--lg mb-0">
              <!-- Links -->
              {% for k, v in home_objective.items %}
              <li>
                <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                  <div class="d-flex mr-4">
                    <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-blue g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                      <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <h3 class="h5 g-color-blue g-color-main--hover g-font-primary mb-1">For our members</h3>
                    <p class="g-font-size-16 mb-0">

{{v}}
                    </p>
                  </div>
                  <a class="u-link-v2" href="{% url 'web:future_members' %}"></a>
                </div>
              </li>
              <!-- End Links -->
              {% endfor %}
            </ul>
            <!-- End List of Links -->
          </div>

          <div class="col-lg-7 order-lg-1 g-pt-10 g-mb-60">
            <!-- Youtube Iframe -->
            <div class="embed-responsive embed-responsive-16by9 u-shadow-v36 g-brd-around g-brd-7 g-brd-white g-rounded-5 mb-4">
              <iframe src="{{ home_objective.video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- End Youtube Iframe -->

            <h4 class="h3 mb-0">{{ home_objective.video_title }}</h4>
            <a class="g-pl-30" href="#">&#8212; {{ home_objective.video_subtitle }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- End Learn First Steps -->